h2{
    /* color: rgb(246, 0, 0); */
     color: #ff0099;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
#main-heading{
    background-color: aqua;
}
.main-section{
    background-color: chartreuse;
}
p{
  color: brown;  
}